body {
    position: absolute;
    justify-content: center; 
    align-items: center;    
    height: 100vh; 
}

header > h3{
    background-color: #f3f3f3;
    border: 1px solid #000000;
    font-size: 1.1rem;
    font-weight: 100;
    margin-bottom: 20px;
    padding: 8px 20px;
}

header > h1{
    background-color: #ecba5c;
    border: 1px solid #493d1b;
    font-weight: 100;
    margin-bottom: 20px;
    padding: 8px 20px;
}

.container {
    text-align: center;
  }

.listas {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.tabela {
    align-items: center;
    margin-left: 750px;
    margin-right: 500px;
    text-align: center;
}